// tabs
.tabs-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 5rem;
		height: 100%;
		background-image: linear-gradient(to right, transparent 20%, #fff 100%);
		pointer-events: none;
	}
}
// .tabs-wrapper.scrolled {
// 	&::before {
// 		content: "";
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		width: 5rem;
// 		height: 100%;
// 		background-image: linear-gradient(to left, transparent 20%, #fff 100%);
// 		pointer-events: none;
// 	}
// }

@mixin tabs {
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
	.tab-item {
		height: 100%;
		display: block;
		font-size: 1.4rem;
		white-space: nowrap;
		cursor: pointer;

		> button {
			display: block;
			width: 100%;
			height: 100%;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
      padding: 0;
		}
	}
}

// tab-style: base
.tabs-base {
  @include tabs;
	gap: 1.6rem;
	height: 5.2rem;

  .tab-item {
    border-bottom: 0.3rem solid transparent;
    color: var(--gray-3);
  
    &.active {
      color: var(--black);
      border-color: var(--black);
      font-weight: 700;
    }
  }
}
// tab-style: rounded
.tabs-rounded {
  @include tabs;
	gap: 0.8rem;
	height: 3.2rem;

  .tab-item {
    background-color: var(--gray-6);
    color: var(--gray-3);
    font-size: 1.3rem;
    border-radius: 1.6rem;
    padding: 0.7rem 1.4rem;
    
    &.active {
      color: var(--white);
      background-color: var(--black);
    }
  }
}
