// .bottom-sheet {
// }

.dimm {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.4);
}

.pop {
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--white);
	border-radius: 20px 20px 0 0;

	.title-wrap {
		width: 100%;
		padding: 20px 66px 30px 22px;
		font-size: 20px;
		font-weight: 600;
	}

	.body {
		padding: 0 22px 30px;

		.contents {
			min-height: 66px;
		}
	}

	.footer {
		padding: 0 22px 30px;
	}

	&.password {
		background-color: var(--primary-1);
	}

	// &.slide-down {
	// 	animation: slide-down 0.3s ease;
	// }
}

// @keyframes slide-down {
// 	0% {
// 		transform: translateY(0);
// 	}

// 	100% {
// 		transform: translateY(100%);
// 	}
// }

.btn-close {
	position: absolute;
	top: 21px;
	right: 22px;

	> img {
		width: 20px !important;
		height: 20px !important;
	}
}

/* slide-up 효과 정의 */

.slide-enter-active,
.slide-leave-active {
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
	transform: translateY(100%);
}

.slide-enter-to,
.slide-leave-from {
	transform: translateY(0);
	transform-origin: top;
}

.slide-enter-from,
.slide-leave-to {
	transform: translateY(100%);
	
}